body {
    background: #161e1b;
    color: #cecfd9;
}


.img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.navbar {
    background-color: #cecfd9;
}

.navbar-brand {
    margin-left: 20px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto; /* Ajusta el ancho según sea necesario */
    vertical-align: middle; /* Alinea verticalmente al centro */
}

.form-inline .btn {
    display: inline-block;
    vertical-align: middle; /* Alinea verticalmente al centro */
    margin-left: 5px; /* Espacio entre el campo de texto y el botón */
}